$fontFamily: 'Roboto', Helvetica, Arial, sans-serif;

$fontSmall: 12px;
$fontMedium: 14px;
$fontNormal: 18px;
$fontLarge: 21px;
$fontXLarge: 28px;

$headerHeight: 60px;

$colorBlack: #000;
$colorWhite: #fff;
$twilightGrey: #ccc;
$lightGrey: transparentize($colorBlack, .86);
$blackyBlue: #111721;

$materialGreen600: #43a047;
$materialGreen700: #388e3c;
$materialGreen800: #2e7d32;
$materialGreen900: #1b5e20;

$materialRed500: #f44336;
$materialRed800: #c62828;
$materialPinkA400: #f50057;
$materialRedA100: #ff8a80;
$materialRedA200: #ff5252;
$materialRedA400: #ff1744;

$materialBlue700: #1976d2;

$globalRadius: 4px;

$pageIndent: 40px;
