@import '../../styles/settings';

.button.button.button.button {
  font-size: inherit;
  height: auto;
  line-height: 36px;
  text-transform: none;
  box-shadow: inset 0 0 0 1px transparentize($colorBlack, 0.8);

  &_primary {
    background: $materialGreen700;
    color: $colorWhite;
    box-shadow: none;

    &:hover {
      background: $materialGreen800;
    }
  }

  &[disabled] {
    pointer-events: none;
    background: transparentize($colorBlack, 0.86);
    color: transparentize($colorBlack, 0.5);
  }
}
