@import '../../styles/settings';

.menu {
  padding: 20px;
  display: flex;
  flex-basis: 200px;
  flex-direction: column;

  justify-content: flex-end;
  box-shadow: 0 0 2px transparentize($colorBlack, 0.5);

  &__user {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__logout {
    font-size: 14px;
  }
}
