@import '../../styles/settings';

.button.button.button.button {
  font-size: $fontNormal;
  height: auto;
  line-height: 46px;
  text-transform: none;

  &_primary {
    background: $materialGreen700;
    color: $colorWhite;

    &:hover {
      background: $materialGreen800;
    }
  }

  &[disabled] {
    pointer-events: none;
    background: transparentize($colorBlack, 0.86);
    color: transparentize($colorBlack, 0.5);
  }
}
