@import '../../../styles/settings';

.location-structure {
  &__field td {
    padding: 10px 0;
  }


  &__permissions-checkbox {
    padding-left: 30px;
    cursor: pointer;
  }

  &__input {
    width: 300px;
  }

  &__dropdown {
    width: 150px;
    margin-left: 30px;
  }

  &__permissions {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 46px;
  }

  .location-structure__permissions-icon {
    font-size: 20px;
    color: transparentize($colorBlack, 0.6);
  }

  .location-structure__remove {
    margin-left: 30px;
    color: $materialRed800;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: $materialRed500;
    }
  }
}
