@import '../../styles/settings';

.input.input {
  padding: 20px 0;

  .input {
    &__bar {
      &:before, &:after {
        background: $materialGreen900;
      }
    }
    &__element,
    &__hint {
      font-size: $fontNormal;
      line-height: $fontNormal;
    }

    &__element {
      padding: 0 0 5px;
    }

    &__hint {
      top: 22px;
    }
  }
}
