.locations {
  &__field {
    position: relative;
    height: 60px;
    cursor: pointer;
    max-width: 300px;

    &_active {
      min-width: 300px;
    }
  }

  &__progress.locations__progress {
    position: absolute;
    bottom: 0;
    top: auto;
    height: 2px;
  }
}
